[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Enable pragma
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == __main__:
fail_under = 40
show_missing = true

[run]
branch = True

omit =
    # omit anything in a .local directory anywhere
    */.local/*
	  setup.py
